.teams_container {
  margin-top: 2.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  gap: 1rem;
}

.champions_container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
}

.champion_image {
  border-radius: 6px;
}
